body {
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#root {
    display: flex;
    min-height: 100vh;  /* needed to make sure body fills up window */ 
    flex-direction: column;
    justify-content: flex-start;
}

#masterDiv {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

#langoHeader {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    max-height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#startDiv {
    flex-basis: 20%;
    flex-grow: 1;
}

#startButton{
    background-color: #B191D4;
    font-family: Montserrat;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 35px;
    left: 50px;
}

#inputTextCard {
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    width: 300px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

#firstCardInput {
    width: 150px;
    height: 150px;
    font-family: sans-serif;
    font-size: 1.5em;
    resize: none;
}

.butt {
    background-color: #70C7A9;
    font-family: Helvetica;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    margin-top: 15px;
    margin-right: 40px;
    text-align: center;
    display: inline-block;
}

#buttonDIv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vh;
}

#textCard {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    margin-left: 15px;
}

textarea:focus {
    outline: none;
}

textarea {
    border: none;
}

#langoMain {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    align-items: center;
}

h1 {
    font-size: 70pt;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #B191D4;
    padding: 15px;
    text-align: center;
}

#cardsDiv {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    font-family: Montserrat, sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #B191D4;
    color: white;
    min-height: 6vh;
}