body{
    min-height: 100vh;  /* needed to make sure body fills up window */
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#reviewRoot{
	min-height: 100vh;
}

#masterDiv{
	min-height: 100vh;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#reviewHeader{
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	max-height: 20vh;
	/* background-color: lightblue; */
	display: flex;
	flex-direction: row;
	background-color: white;
	justify-content: flex-start;
}

#addDiv{
	/* background-color: red; */
	flex-basis: 20%;
}

#addButton{
    background-color: #B191D4;
    font-family: Montserrat;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 25pt;
    text-align: center;
    position: absolute;
    top: 35px;
    left: 50px;
}

h1{
	font-size: 70pt;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #B191D4;
    text-align: center;
    padding-right: 60px;
    flex-basis: 80%;
}

#reviewMain{
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;

    align-items: center;
}

#reviewTextCard{
	/* background-color: lightgoldenrodyellow; */
	width: 650px;
	height: 130px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 20px;

	border-style: solid;
	border-width: 2px;
	border-color: lightgrey;
	margin-bottom: 15px;
}

#reviewInputCard{
	/* background-color: lightblue; */
	width: 650px;
	height: 75px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 15px;

	border-style: solid;
	border-width: 2px;
	border-color: lightgrey;
}

textarea:focus {
    outline: none;
}

textarea {
	font-family: Montserrat, sans-serif;
    border: none;
    resize: none;
    font-size: 20px;
}

#nextButtonDiv{
	/* background-color: lightcoral; */
	flex-basis: auto;
	/* flex-grow: 1; */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 15px;
}

#nextButton{
	background-color: #70C7A9;
    font-family: Montserrat, sans-serif;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 25pt;
    margin-right: 90px;
/*     text-align: center;
    position: absolute;
    top: 35px;
    left: 50px; */
}

#reviewFooter{
	display: flex;
    flex-direction: row;
    flex-grow: 0;
    font-family: Montserrat, sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #B191D4;
    color: white;
    min-height: 6vh;
}